<p-card header="{{carpool.carpoolName}}" styleClass="card" (click)="onJoinClick(carpool)">
  <p-header>
    <!-- header, image of meetup location -->
    <img [src]="headerImage$ | async">
  </p-header>
  <!-- body, carpool quick stats -->
  <div class="ui-g card-body">
    <div class="ui-g-6 ui-g-nopad">
      {{carpool.meetupName}} >> {{carpool.destinationName}}
    </div>
    <div class="ui-g-6 ui-g-nopad">
      <div class="ui-g-4 ui-g-nopad" title="Meetup Time"><i class="pi pi-clock"></i>{{carpool.meetupTime}}</div>
      <div class="ui-g-4 ui-g-nopad" title="Meetups per Week"><i class="pi pi-calendar"></i>{{carpool.meetupDays.length}}/week</div>
      <div class="ui-g-4 ui-g-nopad" title="Participants"><i class="pi pi-users"></i>{{carpool.participants.length}}</div>
    </div>
  </div>
</p-card>