<p-card header="{{carpool.carpoolName}}" styleClass="card">
  <p-header>
    <!-- header, image of meetup location -->
    <img [src]="headerImage$ | async">
  </p-header>
  <!-- body, carpool quick stats -->
  <div class="p-grid card-body">
    <div class="p-col-12 p-xl-6">
      {{carpool.meetupName}} >> {{carpool.destinationName}}
    </div>
    <div class="p-col-12 p-xl-6">

      <div class="p-grid">
        <div class="p-col-4" title="Meetup Time"><i class="pi pi-clock"></i>{{carpool.meetupTime}}</div>
        <div class="p-col-4" title="Meetups per Week"><i class="pi pi-calendar"></i>{{carpool.meetupDays.length}}/week</div>
        <div class="p-col-4" title="Participants"><i class="pi pi-users"></i>{{participantsList.length}}</div>
      </div>

    </div>
  </div>
  <p-footer>
    <button pButton type="button" label="View" (click)="onViewClick(carpool)"></button>&nbsp;
    <button *ngIf="!userIsParticipant" pButton type="button" label="Join" (click)="onJoinClick(carpool)"></button>
    <button *ngIf="userIsParticipant" pButton type="button" label="Joined" icon="pi pi-check" class="ui-button-secondary" disabled></button>
  </p-footer>
</p-card>