
<div class="centered-element">
  <p-selectButton (click)="onFilterChange()" [options]="viewSelector" [(ngModel)]="selectedView"></p-selectButton>
</div>

<br />

<!-- async pipe to extract carpools from observable.  If data hasn't arrived, show loading-->
<ng-container *ngIf="carpools$ | async as carpools; else loading">
  <!-- if extracted data is empty, show noCarpools-->
  <ng-container *ngIf="carpools.length; else noCarpools">
    <!-- loop through carpools and render each as its own card-->
    <div class="p-grid">
      <div *ngFor="let carpool of carpools" class="p-col-12 p-lg-6 p-xl-6">
        <app-carpool-card [carpool]="carpool" (selectedCarpool)="onCarpoolJoin($event)"></app-carpool-card>
      </div>
    </div>
  </ng-container>

  <ng-template #noCarpools>
    <div class="centered-element">No carpools to show.  To join a carpool, change the filter to "All Carpools".</div>
  </ng-template>
</ng-container> <!-- end of async scope-->

<!-- loading needs to be outside carpools$ scope so if that hasn't returned anything yet, this still appears -->
<ng-template #loading>
  <div class="centered-element">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-template>